/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.redsheet {
    background-color: hotpink;
    color: transparent !important;
}

.redsheet-option {
    display: none;
    position: absolute;
    top: -100%;
    right: 0;
    height: 0.6em;
}

.redsheet:hover {
    background-color: pink;
    cursor: pointer;
}

.redsheet-parent {
    position: relative;
}

.redsheet-right {
    color: var(--light);
    background-color: var(--primary);
    font-size: 0.5em;
    padding: 0 0.5em;
    border: 1px var(--light);
    border-radius: 10% 0 0 10%;
}

.redsheet-wrong {
    color: var(--light);
    background-color: var(--secondary);
    font-size: 0.5em;
    padding: 0 0.5em;
    border: 1px var(--light);
    border-radius: 0 10% 10% 0;
}

.btn-check {
    display: none;
}

.redsheet-right:hover, .redsheet-wrong:hover {
    color: var(--warning);
    cursor: pointer;
}

.question-content {
    overflow: hidden;
    table-layout: fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w-10 {
    width: 10% !important;
}

.w-30 {
    width: 30% !important;
}

.img-container img {
    max-width: 100%;
}