@page
@model RedSheetApp1.Pages.Questions.CreateModel

@{
	ViewData["Title"] = "新規作成";
}

<h4>新規問題作成</h4>
<hr />
<div class="row">
	<div class="col-md-8">
		<form name="create" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Question.Title" class="control-label">タイトル</label>
				<input asp-for="Question.Title" class="form-control" />
				<span asp-validation-for="Question.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="QString" class="control-label">内容</label>
				<textarea asp-for="QString" class="form-control js-editor"></textarea>
				<span asp-validation-for="QString" class="text-danger"></span>
				<button type="submit" name="send" value="cropimage" class="btn btn-link">画像から抽出したテキストを追加……</button>
				<button type="submit" name="send" value="extract" class="btn btn-primary">
						<span class="visually-hidden">キーワードを抽出</span>
					</button>
			</div>
			<div class="form-group">
				<button type="submit" name="send" value="create" class="btn btn-primary">作成</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">一覧に戻る</a>
</div>

<script src="~/js/liteeditor.js"></script>

@section Scripts {
	
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
