@page
@model RedSheetApp1.Pages.Questions.CropImageModel

@{
	ViewData["Title"] = "画像から抽出する";
}

<h4>画像から抽出する</h4>
<hr />
<div class="row">
	<div class="col-md-8">
		<form method="post">
			<div class="form-group">
				<input type="file" accept='image/*' onchange="previewImage(this);">
				<button type="button" class="btn btn-primary" id="cropbutton" disabled data-target="#modal" data-toggle="modal">
					画像を切り取る
				</button>
				<input type="hidden" id="croppedimage" name="imgurl" value="" />
				<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalLabel">画像を切り取る</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="img-container">
									<img id="image" alt="Picture">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="cropimage" data-dismiss="modal">切り抜く</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" id="send" disabled name="send" value="extract" class="btn btn-primary">抽出</button>
			</div>
			<div class="form-group">
				<button type="submit" name="send" value="back" class="btn btn-link">戻る</button>
			</div>
		</form>
	</div>
</div>

<script>
	function previewImage(obj) {
		var fileReader = new FileReader();
		fileReader.onload = (function () {
			$('#image').attr("src", fileReader.result);
		});
		fileReader.readAsDataURL(obj.files[0]);
		$("#cropbutton").prop("disabled", false);
	}

	window.addEventListener('DOMContentLoaded', function () {
		var image = document.getElementById('image');
		var cropBoxData;
		var canvasData;
		var cropper;
		let croppable = false;

		$('#modal').on('shown.bs.modal', function () {
			cropper = new Cropper(image, {
				autoCropArea: 0.5,
				zoomable: false,
				ready: function () {
					cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
					croppable = true;
				}
			});
		}).on('hidden.bs.modal', function () {
			cropBoxData = cropper.getCropBoxData();
			canvasData = cropper.getCanvasData();
			cropper.destroy();
		});

		$("#cropimage").click(() => {
			var croppedCanvas;

			if (!croppable) {
				return;
			}

			croppedCanvas = cropper.getCroppedCanvas();

			$("#croppedimage").attr("value", croppedCanvas.toDataURL());
			$("#send").prop("disabled", false);
		});
	});
</script>

@section Scripts {
	
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
