@page
@model RedSheetApp1.Pages.Questions.EditModel

@{
	ViewData["Title"] = "編集";
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="#" onclick="leavePage('/Index')">ホーム</a></li>
		<li class="breadcrumb-item"><a href="#" onclick="leavePage('./Details?id=@(Model.Question.QuestionID)')">問題の詳細</a></li>
		<li class="breadcrumb-item active" aria-current="page">編集</li>
	</ol>
</nav>

<h4>編集</h4>
<hr />
<div class="row">
	<div class="col-md-8">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Question.QuestionID" />
			<input type="hidden" asp-for="Question.CreateDate" />
			<input type="hidden" asp-for="Question.Text" />
			<div class="form-group">
				<label asp-for="Question.Title" class="control-label">タイトル</label>
				<input asp-for="Question.Title" class="form-control" />
				<span asp-validation-for="Question.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="QString" class="control-label">内容</label>
				<div id="content-area">
					<textarea asp-for="QString" class="form-control js-editor"></textarea>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="保存" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<script src="~/js/liteeditor.js"></script>

<script>
	const leavePage = (url) => {
		if (confirm("編集は保存されません。ページを離れてもよろしいですか？")) {
			location.href = url;
		}
	}
</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
