@page
@model RedSheetApp1.Pages.Questions.QAModel
@{
}

<h1>一問一答に挑戦!</h1>

<div>
	<h4>@Html.DisplayFor(modelItem => modelItem.Question.Title)</h4>
	<hr />
	<form method="post">
		<div name="question" class="card">
			<div class="card-body">
				@Html.Raw(Model.QA.Question)
				<br />
				答え:
				<span class='redsheet-parent'>
					<a class='redsheet'>
						@Html.Raw(Model.QA.Answer)
					</a>
				</span>
			</div>
		</div>
		<input type='hidden' asp-for="QA.Question">
		<input type='hidden' asp-for="QA.Answer">
		<input type='hidden' asp-for="Question.QuestionID" name='id'>
		<div class="form-group">
			<button type="submit" name="send" value="next" class="send btn btn-primary">次へ</button>
		</div>
	</form>
</div>

<div>
	<a asp-page="Details" asp-route-id="@Model.Question.QuestionID">詳細に戻る</a>
</div>

<script>
	$(".redsheet").on("click", function (e) {
		$(this).removeClass("redsheet");
	});
</script>