@page
@model RedSheetApp1.Pages.Questions.RedSheetModel
@{
	ViewData["Title"] = "Red Sheet!";
}

<h1>Red Sheet!</h1>

<form method="post">
	<div name="question" class="card">
		<div class="card-body">
			@Html.Raw(Model.QString)
		</div>
	</div>
	<br />
	<input type='hidden' asp-for="Question.QuestionID" name='id'>
	<input type='hidden' id="q-msg" name='msg'>
	<div>
		<button type='submit' class='btn btn-primary send' disabled>Done</button>
	</div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

	$(document).on("click", ".redsheet", function (e) {
		const parent = $(this).parent();
		parent.children(".redsheet-option").css("display", "inline");
		console.log($(this).parent().attr("keyword-id"));
		$(this).removeClass("redsheet");
	});

	$(document).on("click", ".redsheet-right", function (e) {
		const parent = $(this).parent();
		console.log(parent.parent().attr("keyword-id"), "right");
		parent.css("display", "none");
		parent.prop("check-complete", true);
	});

	$(document).on("click", ".redsheet-wrong", function (e) {
		const parent = $(this).parent();
		console.log(parent.parent().attr("keyword-id"), "wrong");
		parent.css("display", "none");
		parent.prop("check-complete", true);
	});

	$('.redsheet-option').change(() => {
		let flag = false;
		let msg = "";
		$('.redsheet-option').each((index, element) => {
			flag = flag | !$(element).prop("check-complete");
			msg += $(element).parent().attr("keyword-id") + ",";
			msg += $(element).children('input:checked').val() + "|";
			console.log($(element).prop("check-complete"));
		});
		$('#q-msg').val(msg);
		$('.send').prop("disabled", flag);
	});
</script>